@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;600;700&display=swap");
@import "variables";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.logo {
  position: relative;
  top: -12rem;
  animation: animateNav 1s ease-in forwards;
  a {
    span {
      font-weight: bold;
      font-family: "Karla", sans-serif;
      font-size: 1.8rem;
      color: $DarkBlue;
      margin-right: 0.5rem;
      letter-spacing: -2px;
    }
    font-family: "Space Grotesk", sans-serif;
    color: $DarkBlue;
    font-size: 0.8rem;
    font-weight: bold;
    color: #545454;
  }
}
.container {
  width: 90%;
  margin: auto;
  font-family: karla, sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.header {
  font-family: "Space Grotesk", sans-serif;
}
//font-family: 'Dosis', sans-serif;
//font-family: 'Space Grotesk', sans-serif;
