@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.container {
  width: 90%;
  margin: auto;
  .logo {
    a {
      span {
        font-weight: bold;
        font-family: "Karla", sans-serif;
        font-size: 1.8rem;
        color: #112063;
        margin-right: 0.5rem;
        letter-spacing: -2px;
      }
      font-family: "Space Grotesk", sans-serif;
      color: #112063;
      font-size: 0.8rem;
      font-weight: bold;
      color: #545454;
    }
  }
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
//header section style
.header {
  background-color: #e4f5ff;
  .container {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: animateNav 1s ease-in forwards;
    button {
      padding: 0.8rem 1rem;
      background-color: #112063;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      font-family: "karla", sans-serif;
      border: 2px solid #112063;
      transition: 0.3s ease-in-out;
      &:hover {
        transform: translateY(-5px);
        box-shadow: 5px 5px 10px #ccd4f5;
      }
      a {
        color: white;
        font-weight: bold;
        font-size: 1rem;
      }
    }
  }
}
//hero section style
.hero {
  height: 520px;
  background-color: #e4f5ff;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 130%;
    animation: animateHero 1s ease-in forwards;
    padding-top: 3rem;
    position: relative;
    @media screen and (min-width: 700px) {
      flex-direction: row;
      justify-content: space-between;
      padding-top: 0rem;
    }
    .hero_content {
      font-family: "Space Grotesk", sans-serif;
      height: 50%;
      margin-bottom: 4rem;
      @media screen and (min-width: 700px) {
        width: 50%;
        padding: 4rem 0;
        margin: 0;
      }
      h4 {
        color: #747474;
        padding: 1rem 0;
        @media screen and (min-width: 700px) {
          font-size: 1.2rem;
        }
      }
      h1 {
        color: #112063;
        font-size: 3rem;
        font-weight: 700;
        line-height: 0.9;
        @media screen and (min-width: 700px) {
          font-size: 5rem;
        }
      }
    }
    form {
      padding: 1.5rem;
      background-color: white;
      box-shadow: 5px 5px 36px rgba(37, 53, 120, 0.06);
      border-radius: 20px;
      position: absolute;
      top: 18rem;
      left: 0;
      right: 0;
      @media screen and (min-width: 700px) {
        margin-top: 2rem;
        padding: 2rem;
        width: 45%;
        top: 0;
        left: 55%;
        right: 0;
      }
      h1 {
        font-family: karla, sans-serif;
        color: #112063;
        margin-bottom: 2rem;
      }
      div {
        width: 100%;
        margin: 1rem 0;
        font-family: karla, sans-serif;

        label {
          padding: 1rem 0;
          font-weight: bold;
          color: #8b8b8b;
          span {
            color: #fb5859;
          }
        }
        input,
        textarea {
          width: 100%;
          outline: none;
          text-indent: 1rem;
          padding: 0.7rem 0;
          margin: 0.8rem 0;
          border: 1.8px solid rgba(37, 53, 120, 0.22);
          border-radius: 8px;
          &:focus {
            border-color: rgb(0, 137, 228);
          }

          @media screen and (min-width: 700px) {
            padding: 0.8rem 0;
            margin: 1rem 0 0 0;
            font-size: 1rem;
          }
        }
        textarea {
          min-height: 100px;
          resize: none;
        }
        button {
          padding: 1.2rem 1.5rem;
          background-color: #00a3ff;
          color: white;
          font-weight: bold;
          border: none;
          border-radius: 10px;
          cursor: pointer;
          font-size: 1rem;
          display: flex;
          align-items: center;
          justify-content: center;
          outline: none;
          svg {
            font-size: 1.2rem;
            margin-left: 0.5rem;
          }
          &:hover {
            box-shadow: 0px 2px 5px #a1c0fa;
          }
        }
      }
    }
  }
}
//info section
.info {
  .container {
    margin-top: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: karla, sans-serif;
    height: 50%;
    @media screen and (min-width: 700px) {
      flex-direction: row;
      margin-top: 17rem;
      justify-content: space-between;
    }
    div {
      width: 100%;
      margin: 2rem 0;
      padding: 1.5em 1rem;
      box-shadow: 0px 2px 20px rgba(37, 53, 120, 0.09);
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      color: #253578;
      @media screen and (min-width: 700px) {
        width: 32%;
      }
      img {
        margin-right: 0.5rem;
      }
    }
  }
}
//footer style
.footer {
  height: 750px;
  padding: 4rem 0 2rem 0;
  font-family: "Karla", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  @media screen and (min-width: 700px) {
    height: 650px;
    padding: 3rem 0 2rem 0;
  }

  .footerDotes {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 80px;
    @media screen and (min-width: 700px) {
      width: 100px;
      right: 3rem;
      top: 0;
    }
  }
  .container {
    height: 100%;
    background-color: #e4f5ff;
    border-radius: 20px;
    padding: 3rem 0;
    position: relative;
    @media screen and (min-width: 700px) {
      height: 80%;
      margin-bottom: 0;
    }
    .header {
      text-align: center;
      h5 {
        color: #747474;
        @media screen and(min-width:800px) {
          font-size: 1.2rem;
        }
      }
      h1 {
        color: #112063;
        font-size: 40px;
        padding: 1rem 0;
        @media screen and(min-width:800px) {
          font-size: 3rem;
        }
      }
    }
    .email {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 2rem 0 3rem 0;
      svg {
        font-size: 2.2rem;
        margin-right: 0.9rem;
      }
      p {
        color: #9c9ca1;
        @media screen and (min-width: 700px) {
          margin: 0;
          font-size: 1.5rem;
        }
      }
    }
    .navContainer {
      @media screen and (min-width: 700px) {
        display: flex;
        justify-content: space-around;
        position: absolute;
        bottom: 4rem;
        left: 0;
        right: 0;
      }
      .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (min-width: 700px) {
          padding: 0;
        }
      }
      .footerNav {
        font-family: "Karla", sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 2rem;
        @media screen and (min-width: 700px) {
          margin-top: 0rem;
          justify-content: space-between;
          flex-direction: row;
        }
        a {
          color: #112063;
          font-weight: 700;
          font-size: 16px;
          margin: 1rem 0;
          transition: 0.2s ease-in-out;
          @media screen and (min-width: 700px) {
            margin: 0 1rem;
          }
          &:hover {
            color: #34a1cd;
          }
        }
      }
    }
  }
  .rights {
    font-size: 0.9rem;
    text-align: center;
    margin: 1rem 0 0 0;
    color: #79797c;
  }
}

@keyframes animateNav {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes animateHero {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
